/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
    margin: 0;
    padding: 0;
    /*Siempre inicializar esto, sino, se ponen unas margenes que no queremos*/
}
a,a:visited,a:link{
    color:#5c57f7; /*Un solo color para todos los links*/
    text-decoration: none;

}
*:focus {
    outline: none; /*Quitar el borde naranja en el textarea para Chrome*/
}
.b{
    border:solid thin gray;
}
.r{
    position: relative;
}
body{
    background-color: buttonface;
    padding: 0;
    /*    padding-top: 30px;*/
}
body > header{
    /*    margin: 2% 5%;*/
    height: 150px;
    margin: 0 auto;
    text-align: left;
    width: 70%;
}

#barra-sup-der{
    -webkit-transform: rotate(-90deg);  
    -moz-transform: rotate(-90deg); 
    width: 27%;
    float: left;
    height: 30px;
    top:0; 
    position:fixed;
    margin-bottom: 35px;    
}
.img-header{
    width: 145px;
    height: 145px;
    float:left;
}
#cabecera h4{
    font-size: 30px;
    font-family: 'Qwigley', cursive;
    margin: 0;
}
.coments{
    background-color: #EDEFF4;
    /*    padding:20px;*/
    width:500px;
    text-align:justify;
    /*    margin-left: 10%;
        margin-right:10%;*/
    overflow: hidden;
    padding:5px;
    padding-top: 0;
    margin-top: 0;
}
.coments-post{
    background-color: #EDEFF4;
    border-bottom: solid thin white;
    /*    padding:20px;*/
    width:500px;
    text-align:justify;
    /*    margin-left: 10%;
        margin-right:10%;*/
    overflow: hidden;
    padding:5px;
    padding-top: 0;
    margin-top: 0;
}
body > footer{
    /*    margin: auto 5%;*/
    margin: 0 auto;
    text-align: center;
    width: 70%;
    font-family: 'Shadows Into Light Two', cursive;
}
body > #container{
    margin: 0 auto; /* adivina quÃ© hacen estas dos lineas juntas*/
    min-height: 200px;
    overflow: hidden; /*esta linea es importante, hace de caja padre*/
    width: 70%; /*adivina quÃ© hacen estas dos lineas juntas*/
    text-align: justify;
}
#user-data{
    color:white;
    float:left;
}
/*---------- <CÃ³digo agredado por > ------------*/
#post-list{
    /*    margin: 1% 0.5%;*/
    background-color:#C4DAFF;
    width: 70%;
    padding: 10px;
    float: left;/*se ajusta a su caja padre*/
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.coment_pic{
    width: 60px;
    height: 60px;
    display: inline-block;
}
.coment_pic img{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.coment_body{
    width: 100%;
    /*    margin-bottom: 10px;
        margin-top: 5px;*/
    overflow:hidden;
}

.coment_body > div {
    float:left;
}
.coment_text{
    margin-top:0;
    width:430px;
    /*    margin-left:65px;*/
    /*    display:inline-block;*/
    padding:5px;
}
.nickname{
    color:#3B5998;
    font-weight: bold;
}
.fb_coments a,.fb_coments a:visited,.fb_coments a:link{
    color: #3B5998;

}
.fb_coments{
    font-size: 13px;
}
#w-prueba{
    background-color: black;
    background-image: url('../img/up.png') ;
    /*    border: solid thin red;*/
    /*    background-position: 0 -54px;*/
    /*    display: inline;*/
    height: 5px;
    width: 9px;
}
.w-prueba1{
    background-image: url('../img/up.png') ;
    background-size: auto;
    display: inline-block;
    height: 5px;
    margin-bottom: -5px;
    margin-left: 17px;
    padding: 0;
    width: 9px;
}
.w-prueba2{
    background-image: url('../img/elements.png') ;
    /*    border: solid thin blue;*/
    background-position: 0px -35px;
    background-repeat:  no-repeat;
    background-size: auto;
    display: inline-block;
    height: 13px;
    width: 15px;
}
.like_img{
    background-image: url('../img/elements.png') ;
    /*    background-position: 0 -54px;*/
    /*    display: inline;*/
    height: 18px;
    width: 18px;
}

.coment_text > p{
    margin:0;
}
.coment_plug{
    color: royalblue;
}
.fb_font{
    font-family: tahoma;
}
.coment_box{
    /*    float:right;*/
    margin: 0 auto;
    width: 500px;
}
.comentarios{
    float: right;
    width:430px;
    height:20px;
    border: none;
    border-radius: 1px;
    padding:5px;
    resize: none;
}


.closer {
    background-image: url("../img/equis.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -689px -76px;
    display: inline-block;
    float: right;
    height: 12px;
    margin-left: 5px;
    vertical-align: top;
    width: 11px;
}


#aside-publicidad{
    /*    margin: 1% 0%;*/
    font-size: 13px;
    background-color:  #dadada;/*solo para saber cuanto espacio ocupa*/
    float: right;/*se ajusta a su caja padre*/
    min-height: 300px;
    padding: 2%;
    width: 18%;
    border-top-right-radius: 40px;
}


.img-publicidad{
    width: 100px;
    height: 100px;
    float:left;
    margin-right: 3px;
    margin-bottom: 3px;
}



.img-articulo{
    width: 150px;
    height: 200px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.img-articulo{
    width: 150px;
    height: 200px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.img-sup{
    width: 30px;
    height: 30px;
    position: relative;
}
/*---------- </CÃ³digo agredado> ------------*/

#header-box-text{
    /*    margin: 0 auto;
        width: auto;*/
    float: left;/*se ajusta a su caja padre*/
}


#cabecera{
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 30px;
    width: 70%;
    /*    margin-top: 30px;*/
}   

#barra-sup-bot{
    background-color: #474747;
    width:100%;
    height: 30px;
    position: fixed;
    background: -moz-linear-gradient(top, #474747 , #313131);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#474747),  to(#313131));

}
#menu-superior {
    /*    float:left;*/
    margin:0 auto;
    width:70%;
    height:30px;
} 
#menu-superior > ul {
    float:right;
} 
.coments > ul {
    padding: 0;
    margin:0;
}
.coments > ul li{
    list-style-type:none;
    /*    border:solid thin red;*/
    width:100%;
    padding:0;
    margin: 0;
}
#menu-superior > ul {
    list-style-type:none; /*Lista sin viÃ±etas*/
    margin:auto; 
    padding:0;
}
#menu-superior > ul li {
    margin:0; /*le quito el margen al elemento de la lista*/ 
    float:left; /*y los floto a la izquierda para eliminar el salto de linea*/   
}
#menu-superior > ul li a {
    display:block; /*con esto el vinculo tendra un area rectangular, asi no sera solo el texto*/ 
    background-color:#1EE2FF; /*algo de color*/ 
    color:white; /*mas*/ 
    width:auto; /*defino el ancho del rectangulo del vinculo*/
    padding:4px 10px 4px 10px; /*sumamos el relleno al ancho y alto del rectangulo para obtener el div #menu completamente ocupado con los Ã­tems del menÃº*/ 
    text-decoration:none; /*elimino el subrayado del vÃ­nculo*/ 
    font-weight:bold; /*decoración*/ 
    text-transform:uppercase; /*decorare los vinculos en mayusculas*/
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
#menu-superior > ul li a:hover {
    background-color:greenyellow; /*decoraciÃ³n para el evento hover (mouse encima)*/ 
}
#cabecera h1{
    font-family: 'Gochi Hand', cursive;
    font-size:55px;
    width:224px;
    color:#5c57f7;
    margin:0; /*los h1 vienen con margen, con esto se lo quito*/ 
    text-transform:uppercase; /*convierte todas en mayusculas*/ 
}

#post-list h2{
    font-size:21px;
    color:dodgerblue;
    width:auto;
    text-transform:uppercase;
    border-bottom:1px dotted dodgerblue;
}
#post-list h3{
    font-size:15px;
    color:white;
    font-weight: lighter;
    width:auto;
    text-align: right;
    text-transform:uppercase;
}


#footer{

    border-top-right-radius: 60px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 0px;

}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
*/

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
    */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
