*{
    margin: 0;
    padding: 0;
    /*Siempre inicializar esto, sino, se ponen unas margenes que no queremos*/
}
a,a:visited,a:link{
    color:#5c57f7; /*Un solo color para todos los links*/
    text-decoration: none;
}
.b{
        
    border:solid thin #ffffff;
}
body{
    /*background-color: gray;*/
    padding: 0;
}
body > header{
/*    margin: 2% 5%;*/
    height: 150px;
    margin: 0 auto;
    text-align: left;
    width: 70%;
}
#cabecera{
        height: 150px;
        margin: 0 auto;
        width: 70%;
    }        
body > footer{
/*    margin: auto 5%;*/
    margin: 0 auto;
    text-align: center;
    width: 70%;
}
body > #container{
    margin: 0 auto; /* adivina qué hacen estas dos lineas juntas*/
    padding: 10px;
    min-height: 200px;
    overflow: hidden; /*esta linea es importante, hace de caja padre*/
    width: 70%; /*adivina qué hacen estas dos lineas juntas*/
}


/*---------- <Código agredado por > ------------*/
#post-list{
/*    margin: 1% 0.5%;*/
    background-color:aliceblue;
    width: 70%;
    padding: 10px;
    float: left;/*se ajusta a su caja padre*/
}
#aside-publicidad{
/*    margin: 1% 0%;*/
    background-color:  #dadada;/*solo para saber cuanto espacio ocupa*/
    float: right;/*se ajusta a su caja padre*/
    min-height: 300px;
    padding: 2%;
    width: 18%;
}

.img-publicidad{
    width: 100px;
    height: 100px;
    float:left;
}

.img-header{
    width: 145px;
    height: 145px;
    float:left;
}

.img-articulo{
    width: 150px;
    height: 200px;
    float:left;
}
/*---------- </Código agredado> ------------*/

#header-box-text{
    margin: 45px auto;
    width: auto;
    float: left;/*se ajusta a su caja padre*/
}

#menu-superior {
    float:right;
    margin:0 0;
    /*border:1px solid #333333;*/
    width:auto;
    height:auto;
} 

ul {
    list-style-type:none; /*Lista sin viñetas*/
    margin:auto; 
    padding:0;
}
li {
    margin:0; /*le quito el margen al elemento de la lista*/ 
    float:left; /*y los floto a la izquierda para eliminar el salto de linea*/ 
}
li a {
    display:block; /*con esto el vinculo tendra un area rectangular, asi no sera solo el texto*/ 
    background-color:#1EE2FF; /*algo de color*/ 
    color:#FFFFFF; /*mas*/ 
    width:auto; /*defino el ancho del rectangulo del vinculo*/
    padding:4px 10px 4px 10px; /*sumamos el relleno al ancho y alto del rectangulo para obtener el div #menu completamente ocupado con los ítems del menú*/ 
    text-decoration:none; /*elimino el subrayado del vínculo*/ 
    font-weight:bold; /*decoración*/ 
    text-transform:uppercase; /*decorare los vinculos en mayusculas*/
}
li a:hover {
    background-color:#0EA3ED; /*decoración para el evento hover (mouse encima)*/ 
}

#cabecera h1{

    font-size:35px;
    font-weight:bolder;
    width:224px;
    color:#5c57f7;
    margin:0; /*los h1 vienen con margen, con esto se lo quito*/ 
    text-transform:uppercase; /*convierte todas en mayusculas*/ 
    padding-bottom:10px;
}

#post-list h2{
    font-size:21px;
    color:dodgerblue;
    width:auto;
    text-transform:uppercase;
    border-bottom:1px dotted dodgerblue;
}