*{
    margin: 0;
    padding: 0;
    /*Siempre inicializar esto, sino, se ponen unas margenes que no queremos*/
}
a,a:visited,a:link{
    color:#5c57f7; /*Un solo color para todos los links*/
}
.b{
        
    border:solid thin #ffffff;
}
body{
    /*background-color: gray;*/
    padding: 0;
}
body > header{
/*    margin: 2% 5%;*/
    height: 150px;
    margin: 0 auto;
    text-align: left;
    width: 70%;
}
    #cabecera{
        height: 150px;
        margin: 0 auto;
        width: 70%;
    }        
body > footer{
/*    margin: auto 5%;*/
    margin: 0 auto;
    text-align: center;
    width: 70%;
}
body > #container{
    margin: 0 auto; /* adivina qué hacen estas dos lineas juntas*/
    padding: 10px;
    min-height: 200px;
    overflow: hidden; /*esta linea es importante, hace de caja padre*/
    width: 70%; /*adivina qué hacen estas dos lineas juntas*/
}


/*---------- <Código agredado por > ------------*/
#post-list{
/*    margin: 1% 0.5%;*/
    background-color:aliceblue;
    width: 70%;
    padding: 10px;
    float: left;/*se ajusta a su caja padre*/
}
#aside-publicidad{
/*    margin: 1% 0%;*/
    background-color:  #dadada;/*solo para saber cuanto espacio ocupa*/
    float: right;/*se ajusta a su caja padre*/
    min-height: 300px;
    padding: 2%;
    width: 18%;
}

.img-publicidad{
    width: 100px;
    height: 100px;
    float:left;
}

.img-header{
    width: 145px;
    height: 145px;
    float:left;
}

.img-articulo{
    width: 150px;
    height: 200px;
    float:left;
}
/*---------- </Código agredado> ------------*/

#header-box-text{
    margin: 45px auto;
    width: auto;
    float: left;/*se ajusta a su caja padre*/
}